<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Keyword-Driven Framework Suite" verbose="2" thread-count="2" parallel="tests">
    
    <listeners>
        <listener class-name="com.keyworddriven.base.ExtentReportListener"/>
    </listeners>
    
    <test name="Keyword-Driven Tests" preserve-order="true">
        <classes>
            <!-- Add your test classes here -->
            <!-- <class name="com.keyworddriven.tests.TestClass1"/> -->
        </classes>
    </test>
    
</suite>
